<%= form_for(@event) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">Breast Feeding</div>
    <div class="panel-body">
      <table>
        <tr>
          <td><button style='width:100%' id="left_button" class="btn btn-primary">Left</button></td>
          <td><%= f.text_field :left_breast, :class => 'form-control' %></td>
        </tr>
        <tr>
          <td><button style='width:100%' id="right_button" class="btn btn-primary">Right</button></td>
          <td><%= f.text_field :right_breast, :class => 'form-control' %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Diaper</div>
    <div class="panel-body">
      <table>
        <tr>
          <td>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= f.check_box :wet_diaper %> Wet
              </label>
            </div>
          </td>
          <td>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= f.check_box :dirty_diaper %> Dirty
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
